* {
    font-family: 'Istok Web', sans-serif;
}

a{
    text-decoration: none !important;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}

p{
    font-size: 18px;
}

a:hover{
    color: #6d758a;
}

html,body{
    margin:0 !important;
    padding: 0 !important;
}

body{  
    background-color: #fff;
    /*background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");*/
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}

.bg-light{
    background-color: #2a53c5 !important;
    /*color: #2a53c5 !important;*/
}

.navbar-light .navbar-brand{
    color: #2a53c5 !important;
}

.navbar-light .navbar-nav .nav-link{
    /*color: #2a53c5 !important;*/
}

.search-bar{
    border-radius: 10px;
    box-shadow: 0px 5px 10px -2px grey;
    background-color: #fff;
}

.search-bar a{
    color: #2f3b59;
}

.search-bar input{
    /*border-radius: 50px;*/
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
}

/* remove borda quando estiver clicado e focado */
.search-bar input{
    outline: none;
}

.search-bar select{
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
    padding: 0px !important;
    margin-top: 8px;
}

/* remove glow azul em volta quando clica no elemento */
.search-bar select:focus, select:active{
    box-shadow: none !important;
}

.search-bar i{
    margin-top: 8px;
}

.search-button{
    margin-left: 15px;
    margin-top: 10px;
}

.promotional-itens{
    background-color: #fff;
    color: #333;
    border-radius: 2px;
    margin-top: 50px; 
    margin-left: 5px; 
    margin-right: 5px;
    margin-bottom: 25px;
    padding: 10px;
}
.promotional-itens i.fa-certificate{
    color: #ffa500;
}

.promotional-itens i.fa-phone-square{
    color: #2a53c5;
}

.promotional-itens i.fa-dollar-sign{
    color: #ffa500;
}

.menu-promotions:hover{
    /*color: #ffa500;*/
}

.menu-promotions.hvr-underline-from-left:before{
    /*background-color: #ffa500;*/
}

.user-promotion-image{
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.extra-infos{
    margin-top: 50px;
    color: #333;
}

.modal-body{
}

.carousel-indicators{
    bottom: -50px !important;
}

.carousel-indicators li{
    background-color: #333;
}

.carousel-indicators .active{
    background-color:#848484;
}

nav{
    box-shadow: 0px 2px 10px -2px grey;
}

nav a{
    color: #fff !important;
}

nav, a > p{
    color: #fff !important;
}

nav, a > i{
    color: #fff !important;
}

i.fa-search{
    color: #fff !important;
}

#page-content p{
    color: #333 !important;
}

#page-content .search-content span{
    color: #333 !important;
}

.background-advertisement{
    background-color: #fff;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    height: 100%;
}

.pdf{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 450px;
}

footer{
    color: #fff;
    background-color: #2a53c5;
    width: 100%;
    height: 200px;
}
